<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

 <main class="container">
  <div class="jumbotron">
    <!--bottom nav-->
    
    <div class="content">
        <h2 id="name" class="mob-h2 page-scroll" style="font-size: 56px; font-weight: 700; margin-top: 50px">
          <span class="low-highlight-cyan">About Me</span>
      </h2>
      <div class="column">
        <h4><p data-aos="fade-right" style="text-align: center;" data-aos-duration="1000">
           I'm passionate about gaming and music. I strive to become game devloper. When I'm not working, I enjoy small walks, cooking & stealth assassinations. Thanks for stopping by!
          <br />
          <br />
          I have a year of experiance in game development.
        </p></h4>
        <p style="text-align: center;">
          <a
          href="/Assets/PDF/Jaydeep_CV_Latest.pdf"
          target="_blank"
          data-aos="fade-right"
          data-aos-duration="1000"
          >Resume
        </a>
        <a href="/contact" data-aos="fade-right" data-aos-duration="1000">Contact Me</a>
      </p>
      </div>
      <div class="img" style="text-align: center;">
        <img
          src="/Assets/images/Jaydeep_DP.jpg"
          alt="myphoto"
          data-aos="fade-up-right"
          data-aos-duration="1000"
          width="300"
          style="margin-left: 30%; margin-right: 30%;"
          height="400"
        />
      </div>
    </div>
    <div class="container">
      <div
        id="about"
        class="content page-scroll"
        style="justify-content: space-around"
      >
        <div class="column-2">
          <h2
            id="skills"
            class="mob-h2 page-scroll"
            style="font-size: 56px; font-weight: 700; margin-top: 50px"
          >
            <span class="low-highlight-cyan">Skills</span>
          </h2>
          <h3 style="font-size: 24px; color: #444444; font-weight: 1">
            I love all aspects of technology and want to explore as much as I can!
          </h3>
          <br />
          <div class="dev-icons">
            <div class="row">
              <div class="col">
                <h4>Fontend Technologies</h4>
                <ul>
                  <li class="software-skill-inline html5">
                    <i class="devicon-html5-plain"></i>
                    <p>HTML5</p>
                  </li>
                  <li class="software-skill-inline css3">
                    <i class="devicon-css3-plain"></i>
                    <p>CSS3</p>
                  </li>
                </ul>
              </div>
              <div class="col">
                <h4>Backend Technologies</h4>
                <ul>
                  <li class="software-skill-inline c">
                    <i class="devicon-c-plain"></i>
                    <p>C</p>
                  </li>
                  <li class="software-skill-inline cplusplus">
                    <i class="devicon-cplusplus-plain"></i>
                    <p>C++</p>
                  </li>
                  <li class="software-skill-inline linux">
                    <i class="devicon-java-plain"></i>
                    <p>Java</p>
                  </li>
                  <li class="software-skill-inline linux">
                    <i class="devicon-java-plain"></i>
                    <p>C#</p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h4>Database</h4>
                <ul>
                  <li class="software-skill-inline python">
                    <i class="devicon-mysql-plain"></i>
                    <p>Firebase</p>
                  </li>
                </ul>
              </div>
              <div class="col">
                <h4>Operating Systems</h4>
                <ul>
                  <li class="software-skill-inline linux">
                    <i class="devicon-linux-plain"></i>
                    <p>Linux</p>
                  </li>
                  <li class="software-skill-inline linux">
                    <i class="devicon-windows8-original"></i>
                    <p>windows</p>
                  </li>
                </ul>
              </div>
            </div>

            <div>
              <br><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   