<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <div class="content">
      <h2 id="name" class="mob-h2 page-scroll" style="font-size: 56px; font-weight: 700; margin-top: 50px">
        <span class="low-highlight-cyan">Portfolio</span>
    </h2>
    <h1 class="display-4" style="font-weight: 400;">Hi, I am Jaydeep Modha</h1>
    <p style="font-size: 20px; font-weight: 350;">
      I am a passionate game developer with a knack for creating immersive digital experiences. With a blend of creativity and technical expertise,
      I bring virtual worlds to life, crafting captivating gameplay, designing stunning visuals, and orchestrating soundscapes that resonate with players.
      As a game developer, I thrive on pushing the boundaries of interactive entertainment, delivering memorable and engaging adventures for gamers worldwide.
    </p>
  </div>
</main>
    <!--bottom nav-->
   
   
    <!--script section-->
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
   