<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<!-- <main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Projects page</h1>
    <p>All my precious projects are stored in <a href="https://epic-blade.itch.io/">this link</a></p>
    </div>
    </main> -->
    <!--bottom nav-->
    <div class="container">
      <h2
        id="projects"
        class="mob-h2 page-scroll"
        style="font-size: 56px; font-weight: 700; margin-top: 50px"
      >
        <span class="low-highlight-cyan">Projects</span>
      </h2>
      <div class="projects-on-github">
        <h4>Available On Github</h4>
        <div class="projects" data-aos="fade-up" data-aos-duration="1500">
          <div class="repo-card" data-repo="jaydeep-dev/SoulEye" ></div>
    
        </div>
      </div>
      <div class="projects-academic">
        <h4>Academic Projects</h4>
        <div class="projects" data-aos="fade-up" data-aos-duration="1500">
          <div class="services">
            <div class="card">
              <div class="box">
                <div class="service-content">
                  <h2>01</h2>
                  <a href="https://epic-blade.itch.io/paradise-parkour"><h3>paradise-parkour</h3></a>
                  <p>3D game made in a game jam where the goal is to complete all levels in the least time possible</p>
                </div>
              </div>
            </div>
    
            <div class="card">
              <div class="box">
                <div class="service-content">
                  <h2>02</h2>
                  <a href="https://epic-blade.itch.io/soul-eye"><h3>Soul Eye</h3></a>
                  <p>2D platformer game similar to Super Mario</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   