<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <div class="content" style="margin-bottom: 50px;">
      <h2 id="name" class="mob-h2 page-scroll" style="font-size: 56px; font-weight: 700; margin-top: 50px">
        <span class="low-highlight-cyan">Services</span>
      </h2>
    </div>
    <div>
      <h3>All of the services provided are listed here</h3><hr style="margin-bottom: 25px;">
    </div>
    <div>
      <h4><li>Game Development</li></h4>
      <p>I can develop game in 2D and 3D using unity and c#. 🎮</p>
      <h4><li>Api Integration</li></h4>
      <p>I can integrate various APIs in your games to connect your games to more utilities. 🫶</p>
      <h4><li>Bug Fixing</li></h4>
      <p>I can fix most of the bugs in your games! just send'em straight to me 😊</p>
    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   